@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@100&display=swap');


header {
    position: fixed;
    width: 100%;
    z-index: 5;
}


.navbar-nav a {
    color: #85C2AD;
    font-size: 18px;
}

nav {
    height: 6rem;
}

nav img {
    height: 6rem;
}

main.page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 14px #00000012;
    opacity: 1;
    height: 4658px;
    width: 84%;
    margin-left: 143px;
    margin-top: 0;
}

main .sub-content {
    margin-top: 23rem;
    margin-left: 1.7rem;
}

main .content {
    position: absolute;
    margin-top: 18%;
    width: 500px;
    margin-left: 5rem;
}

main .content h3 {
    font-size: 49px;
    font-family: 'Comfortaa', sans-serif;
    color: white;
}

main .content .retang {
    width: 337px;
    margin-left: -5rem;
    height: 60px;
    margin-top: -4.5rem;
    background-color: #85C2AD;
}

main .content .btn-sem-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    background: var(--unnamed-color-85c2ad) 0% 0% no-repeat padding-box;
    background: #85C2AD 0% 0% no-repeat padding-box;
    width: 376px;
    margin-left: 30rem;
    height: 45px;
    margin-top: -27.5rem;
    font-size: 18px;
    border-radius: 22px;
    opacity: 1;
}

section {
    margin-top: -49vh;
    display: grid;
}

.alinhar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 35px;
}

.alinhar .card {
    border: none;
    margin-left: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 17px #0000000F;
    border-radius: 10px;
    opacity: 1;
    width: 444px !important;
    height: 480px !important;

}



.about .card-title {
    font-size: 24px;
    color: #4A7866;
}

.about .card-text {
    font-size: 22px;
    color: #6D6D6D;
}

.about .col-md-8 {
    flex: 0 0 auto;
    width: 505px !important;
    margin-left: 18rem !important;
}

.about .col-md-4 .img-fluid {
    width: 912px;
    max-width: none !important;
    height: auto;
    margin-left: -15.2rem;
}



/* SOBRE O CONSULTÓRIO*/
.about-consultorio .svg-img {
    margin-left: 0px;
    width: 198px;
    height: 425px;
    background: transparent url('img/Interseção 2.png') 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
}

.about-consultorio .col-md-8 {
    flex: 0 0 auto;
    width: 505px !important;
    margin-left: -11rem !important;
}

.about-consultorio .img-fluid {
    width: 912px;
    max-width: none !important;
    height: auto;
    margin-right: 10rem !important;
}

.about-consultorio .card-title {
    font-size: 24px;
    color: #4A7866;
}

.about-consultorio .card-text {
    font-size: 18px;
    color: #6D6D6D;
}

.about-consultorio .col-md-4 .img-lateral {
    width: 159%;
}

.about-consultorio .waze {
    width: 80px;
    border-radius: 25px;
}

.center-text h3 {
    display: flex;
    font-weight: bold;
    font-family: 'Comfortaa' sans-serif;
    justify-content: center;
    align-items: center;
    padding: 35px;
    font-size: 24px;
    color: #4A7866;
}

.center-text a {
    display: flex;
    font-weight: bold;
    font-family: 'Comfortaa' sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 35px;
    font-size: 18px;
    color: #6D6D6D;
}

.curio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.curio .center-text h3 {
    display: flex;
    font-weight: bold;
    font-family: 'Comfortaa' sans-serif;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 39rem;
    font-size: 24px;
    color: #4A7866;
}

.curio .center-text p {
    display: flex;
    font-weight: bold;
    font-family: 'Comfortaa' sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #E4AAAC;
}

.news-content .card {
    border: none;
    margin-left: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 17px #0000000F;
    border-radius: 10px;
    opacity: 1;
    width: 318px !important;
    height: 406px !important;

}

.news-content {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 35px;
    width: 100%;
}

.news-content .card .strooo {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: -10rem;
}

.news-content .card .tororo {
    position: absolute;
    color: rgb(185, 185, 185);
    font-size: 16px;
    margin-top: -7rem;
}

.news-content .colum-card .card {
    width: 336px;
    height: 201px;
}

.curio button {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #E4AAAC;
    font-size: 22px;
    width: 168px;
    height: 45px;
    background: var(--unnamed-color-e4aaac) 0% 0% no-repeat padding-box;
    background: #E4AAAC 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
}

.agenda-consulta .svg-img {
    margin-left: -16rem;
    width: 210%;
}

.agenda-consulta .col-md-8 {
    flex: 0 0 auto;
    width: 350px !important;
    margin-left: 20rem !important;
    font-size: 21px;
}

.agenda-consulta .img-fluid {
    width: 912px;
    max-width: none !important;
    height: auto;
    margin-right: 10rem !important;
}

.agenda-consulta {
    margin-top: 5rem;
}

.agenda-consulta .card-title {
    font-size: 24px;
    color: #4A7866;
}

.agenda-consulta .card-text {
    font-size: 22px;
    color: #6D6D6D;
}

.agenda-consulta .col-md-4 .img-lateral {
    height: 418px;
    width: 288px;
    background: transparent url(src/Grupo\ de\ máscara\ 10.svg) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 112px;
}

.agenda-consulta .waze {
    width: 80px;
    border-radius: 25px;
}

.agenda-consulta .col-md-4 {
    width: 26.333333%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 1411px;
    height: 530px;
    margin-left: 1rem;
}

.card-body button {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #E4AAAC;
    font-size: 22px;
    width: 168px;
    height: 45px;
    background: var(--unnamed-color-e4aaac) 0% 0% no-repeat padding-box;
    background: #E4AAAC 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
}

.about {
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 5rem;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
    min-height: 70vh;
}

.about-consultorio {
    margin-top: 5rem;
    filter: blur(5px);
    transform: translate(100%);
    transition: all 1s;
    min-height: 70vh;
}

.about-consultorio{
    margin-top: 5rem;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
    min-height: 70vh;
}



.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}